.fondoLogin{
	background-image: url('../images/fondo_login.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white

}
.loginText{
	font-size: 24px;
	margin-top: 35%;
}
.fondoLoginDatosT{
	background-color: transparent;
}